*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type=text] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=text]:focus {
    width: 55%;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    
}
  
input[type=submit] {
    background-color: #343a40;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
     margin-left: 75%;

}
  
input[type=submit]:hover {
  background-color: #131624;
}
.container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
}
  .row1{
    margin-left: 15%;
    
  }
  #logo{
      color: white;
  }
.table1{
    border: 2px solid black;
}
.type{
    margin-left: 10px;
    margin-top: 22px;
    width: 30Px;
}
.divNav{
    background-color:#343a40 ;
    color: white;
    padding: 10px;
}
.right{
   text-align: right;
}